*{
    margin: 0px; 
    padding: 0px;
    list-style: none;
}

.clearfix{
    float: none;
    clear: both;
}

.global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 2px grey;
}

.logo{
    font-family: Verdana, Arial;
    font-size: 25px;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 75px;
}

#menu{
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block;
    transform: all 300ms;
}

#menu ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding:  0 30px;
}

.box-post{
    height: auto;
    /* border: 1px solid green; */
    padding-bottom: 60px;
}

#post{
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
}

.post{
    font-size: 18px;
    color: #333;
    padding: 5px;
    margin-top: 22px;
    text-align: justify;
}

h2{
    font-family: Helvetica, Arial;
    font-size: 22px;
    color: #333;
    margin-bottom: 5px;
}

.post .date{
    color: grey;
    display: block;
    margin-top: 5px;
}

.post p{
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}

.boton-more{
    padding: 15px;
    text-decoration: none;
    margin-top: 6px;
    width: 70px;
    float: right;
    color: #fff;
    /* margin-bottom: 20px; */
}

#sidebar{
    font-family: Helvetica, Arial;
    width: 30%;
    float: right;
}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span{
    background: #fff;
    padding: 5px;
}

#sidebar img{
    width: 100%;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
    margin-top: 7px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
select
{
    padding: 5px;   
    border-radius: 2px;
    border-color: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 5px;
}

form input[type="submit"]{
    background: #eee;
    padding: 5px;
    border: 1px solid gray;
    color: #333;
    cursor: pointer;
    width: 85%;
    margin-top: 10px;
}

footer{
    width: 65%;
    margin: 0 auto;
    color: #fff;
    background: rgba(51,51,51,.6);
    padding: 20px;
    margin-top: 30px;
}
.bx-wrapper ,.bx-viewport{
    height: 250px !important;
}

.selector-theme{
    position: fixed;
    top: 40%;
    left: 0px;
    background: rgba(51,51,51,.5);
    height: 100px;
    width: 30px;
}

#to-green, #to-red, #to-blue{
    width: 30px !important;
    height: 30px !important;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#to-green{
    background: #235E3f;
}


#to-red{
    background: #ca3413;
}


#to-blue{
    background: #1f87c4;
}

.subir{
    color:white;
    text-decoration: none;
    display: block;
    float: right;
}

#box{
    width: 60%;
    float: left;
    margin-top: 40px;
}

#acordeon{
    margin-top: 20px;
}

/* reloj */
#reloj{
    font-size: 40px;
    color: #333;
    font-weight: bold;
    font-family: Helvetica, Arial;
    /* border: 5px dashed #333; */
    width: 30%;
    padding: 30px;
    margin: 0 auto;
}

/* Formulario de contacto */
.box-form{
    /* border: 1px solid black; */
    height: auto;
    padding: 10px 0px 10px 30px;
}

#form-contact{
    width: 100%;
    margin-top: 25px;
    font-family: Helvetica, Arial;
}

#form-contact select{
    /* border: 1px solid black; */
    width: 83%;
}

#form-contact label{
    width: 100%;
    display: block;
    margin-bottom: 7px;
}


.form-error{
    display: block;
    background: red;
    width: 80%;
    padding: 12px;
    color: white;
    margin-top: 15px;
}