body{
    background: url("../img/hojas.jpg");
    background-attachment: fixed;
}

.logo{
    background: #235E3D;
}

#menu ul li a:hover{
    background:  #235E3D;
}

.boton-more{
    background:  #235E3D;
}