body{
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
}

.logo{
    background: #1f87c4;
}

#menu ul li a:hover{
    background:  #1f87c4;
}

.boton-more{
    background:  #1f87c4;
}